# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
*.iml

# Android
# android/local.properties      ← ЗАКОММЕНТИРОВАНО
# android/gradlew               ← ЗАКОММЕНТИРОВАНО
# android/gradlew.bat           ← ЗАКОММЕНТИРОВАНО
android/.gradle
android/captures/
android/key.properties
**/*.keystore
**/*.jks
android/app/google-services.json

# IDE
.idea/
.vscode/
*.swp
*.swo
