# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
*.iml

# Android
android/local.properties
android/.gradle
android/captures/
android/gradlew
android/gradlew.bat
android/key.properties
**/*.keystore
**/*.jks

# IDE
.idea/
.vscode/
*.swp
*.swo
